
/* height of the image and div */

   #divhgt{
    margin-bottom: 50px !important;
  }


@media (min-width: 400px){
  #divhgt{
      height: 600px  !important  ;
    }
    }

      @media (min-width: 768px){
        #divhgt{
            height: 361px  !important  ;
          }
          }

@media (min-width: 991px){
    #divhgt{
        height: 370px !important  ;
      }
      }   
      @media (min-width: 1200px){
        #divhgt{
            height: 400px !important  ;
          }
          }
                 
          @media (max-width: 992px){
            #divhg{
                height: 450px  !important;

              }
              .mainprod #divhgt{
                margin-bottom: 120px !important;
              }
              .sunon{
                margin-bottom: 0px !important ;
              }
              }
    

/* sortby (high or low) */
.labels {
  font-weight: 600; 
  margin-bottom: 5px; 
}

.selects {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

.selects:hover {
  background-color: rgb(243, 249, 216);
}

.selects:focus {
  outline: 2px solid #dbcc8f; 
}
