{% extends "base.html" %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock navbar %}



{% block maincontent %}


<div class="container mt-5 text-center mb-4">
    <h2 class="mb-4">Add Address</h2>
    <form method="post" action="{% url 'add_address' %}?next={{ request.GET.next }}">
      {% csrf_token %}
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label offset-3 ">Name</label>
        <div class="col-sm-2">
          {{ form.name }}
        </div>
      </div>
      <div class="form-group row">
        <label for="country" class="col-sm-2 col-form-label offset-3">Country</label>
        <div class="col-sm-2">
          {{ form.country }}
        </div>
      </div>
      <div class="form-group row">
        <label for="state" class="col-sm-2 col-form-label offset-3">State</label>
        <div class="col-sm-2">
          {{ form.state }}
        </div>
      </div>
      <div class="form-group row">
        <label for="district" class="col-sm-2 col-form-label offset-3">District</label>
        <div class="col-sm-2">
          {{ form.district }}
        </div>
      </div>
      <div class="form-group row">
        <label for="town" class="col-sm-2 col-form-label offset-3">Town</label>
        <div class="col-sm-2">
          {{ form.town }}
        </div>
      </div>
      <div class="form-group row">
        <label for="house" class="col-sm-2 col-form-label offset-3">House</label>
        <div class="col-sm-2">
          {{ form.house }}
        </div>
      </div>
      <div class="form-group row">
        <label for="land_mark" class="col-sm-2 col-form-label offset-3">Landmark</label>
        <div class="col-sm-2">
          {{ form.land_mark }}
        </div>
      </div>
      <div class="form-group row">
        <label for="pincode" class="col-sm-2 col-form-label offset-3">Pincode</label>
        <div class="col-sm-2">
          {{ form.pincode }}
        </div>
      </div>
      <div class="form-group row">
        <label for="number" class="col-sm-2 col-form-label offset-3">Mobile Number</label>
        <div class="col-sm-2">
          {{ form.number }}
        </div>
      </div>
      <div class="form-group row">
        <label for="alternate_number" class="col-sm-2 col-form-label offset-3">Alternate Number</label>
        <div class="col-sm-2">
          {{ form.alternate_number }}
        </div>
      </div>
        <div class="pb-4">
         <button type="submit" class="btn btn-primary">Save Address</button>
        </div>

    </form>
  </div>

{% include "footer.html" %}
{% endblock maincontent %}