{% extends 'base.html' %}
{% block navbar %}
  {% include 'navbar.html' %}
{% endblock navbar %}
{% block maincontent %}
  <head>
    <style>
      .pass_show {
        position: relative;
        text-align: center;
        margin-top: 50px;
      }
      
      .pass_show .ptxt {
        position: absolute;
        top: 50%;
        right: 10px;
        z-index: 1;
        color: #f36c01;
        margin-top: -10px;
        cursor: pointer;
        transition: 0.3s ease all;
      }
      
      .pass_show .ptxt:hover {
        color: #333333;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 offset-sm-4">
          <h2 class="text-center mb-4">Reset Password</h2>
          {% if messages %}
            {% for message in messages %}
              <h6 class="text-danger">{{ message }}</h6>
            {% endfor %}
          {% endif %}
          <form action="/reset_password/" method="post">
            {% csrf_token %}
            <label>Current Password</label>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Current Password" name="old_pass" required />
            </div>

            <label>New Password</label>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="New Password" name="new_pass" required />
            </div>

            <label>Confirm Password</label>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Confirm Password" name="new_pass1" required />
            </div>
            <div class="text-center">
              <button class="btn btn-primary py-3" type="submit">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
{% endblock maincontent %}
