{% extends "base.html" %}
{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
{% block maincontent %}
<style>
    .section {
        background-color: #f2f6fc;
        color: #69707a;
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0;
      }
  
      .main-container {
        display: flex;
        justify-content: space-between;
        width: 80%;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
      }
  
      .profile-details {
        flex: 1;
        padding: 30px;
        border-radius: 10px;
      /* text-align: center; */ 
       margin-right: 20px;
      }
  
      .profile-details h2 {
        color: rgb(0, 0, 0);
        margin-bottom: 20px;
      }
  
      .profile-details p {
        font-size: 16px;
        margin-bottom: 20px;
      }
  
      .profile-details span {
        font-weight: bold;
      }
  
      .address-list {
        flex: 1;
        padding-top: 30px;

        text-align: left;
      }
  
      .address-list-item {
        margin-bottom: 10px;
      }
  
      .address-list-item span {
        display: block;
        font-weight: bold;
        margin-bottom: 3px;
      }
  
      .add-address-btn , .edit-profile-btn{
        background-color: #b0b274;
        color: #000000 !important;
        cursor: pointer;
        transition: background-color 0.3s;
        border: 1px solid black;
      }
  
      .add-address-btn:hover,.edit-profile-btn:hover {
        background-color: #d2d4cd;
        color: #353131;
      }
  </style>
 <section class="section">
 
   <div class="main-container">
    <!-- Profile details display-->
    <div class="profile-details">
      <h2>Profile</h2>
      <p><span>Full Name:</span> {{username.first_name}}     <span></span> {{username.last_name}} </p>
      <p><span>Email Address:</span> {{username.email}}</p>
      <p><span>Date of Birth:</span> {{username.dob}}</p>
      <p><span>Gender:</span> {{username.gender}}</p>
      <p><span> Number:</span> {{username.number}}</p>

      <!-- Edit profile button -->
      <div class=" text-center">
          <a href="/edit_profile/{{username.id}}" class="edit-profile-btn px-3" type="button">Edit Profile</a> <br>
      </div>
        <div class="p-3  text-center"><a href="/reset_password/" class="text-danger">Reset password</a></div>
        <span style="font-size: 30px; color: #008448;">Wallet balance: {{wallet.amount}} </span>
    </div>

    <!-- Address section -->
    <div class="address-list text-center border border-dark">
      <h2>Addresses</h2>
      <!-- List of addresses -->
      {% for address in address %}
      <ul class="address-list pt-0">
        <li class="address-list-item">
          <span class="text-capitalize">{{ address.country }}, {{ address.state }}, {{ address.district }} </span>
          house:{{ address.house }} , {{ address.town }} , PIN:{{ address.pincode }} <br>

           {{address.name}}  ,  &nbsp; {{ address.number }} <br>

          <a href="/edit_address/{{address.id}}/" class="btn btn-light border border-info" > Edit Address</a>
          <a href="#confirmationModal-{{forloop.counter}}" class="btn btn-danger" data-toggle="modal" data-target="#confirmationModal-{{forloop.counter}}"> Delete address</a>
        </li>

      </ul>
      {% endfor %}

      <!-- Add new address button -->
      <form ><div class="text-center"><a href="{% url 'add_address' %}?next={% url 'view_profile' %}" class="add-address-btn px-3 py-2" type="button">Add New Address</a></div></form>
      
      
    </div>
  </div>

</section>
{% for address in address %}
<div class="modal fade" id="confirmationModal-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirm Deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this address?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a href="/delete_address/{{ address.id }}" class="btn btn-danger">Delete Address</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<script>
    $(document).ready(function() {
      // Attach a click event to your delete button
      $('.btn-danger').click(function(e) {
        e.preventDefault();
        // Show the modal
        $('#confirmationModal-{{forloop.counter}}').modal('show');
      });
    });
  </script>

  {% endblock maincontent %}