<!DOCTYPE html>
<html>
<head>
<title>Terms and Conditions</title>
<link rel="stylesheet" href="styles.css">
<style>
body {
    font-family: sans-serif;
    margin: 40px;
  }
  
  header {
    text-align: center;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  img {
    width: 100%;
    margin-bottom: 20px;
  }
  
  footer {
    text-align: center;
  }
  
</style>
</head>
<body>
  <header>
    <h1>Terms and Conditions</h1>
  </header>

  <main>
    <section>
        Last updated: November 23, 2023
      <h2>Welcome to Our Website</h2>
      <p>Please read these terms and conditions carefully before using our website. By using our website, you agree to be bound by these terms and conditions.</p>
      Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.

      By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
      
    </section>
  
    <section>
      <h2>Orders and Payment</h2>
      <p>When you place an order, you agree to pay the price listed for the product plus any applicable taxes and shipping costs.</p>
    </section>

    <section>
      <section>
        <h2>Links To Other Web Sites</h2>
        <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by Shoezy.

            Shoezy has no control over, and assumes no responsibility for, the content, privacy policies,
             or practices of any third party web sites or services. You further acknowledge and agree that Shoezy shall not be responsible or liable,
              directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content,
               goods or services available on or through any such web sites or services.</p>
      </section>

    </section>
    <section>
        <h2>Contact Us</h2>
        <p>If you have any questions about these terms and conditions, please contact us at Shoezyofficials@gmail.com.</p>
      </section>
  </main>

  <footer>
    <p>&copy;Since 2023 Shoezy</p>
    <a href="/register/">Go Back</a>
  </footer>
</body>
</html>
