{% extends 'base.html' %}
{% load static %}

<body class="goto-here">
<!-- start nav -->
{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

<!-- END nav -->
{% block maincontent %}
<h1 class="mb-0 bread text-center">SHOP</h1>
   
    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8 col-lg-10 order-md-last">
    				<div class="row">
		    			<div class="col-sm-12 col-md-12 col-lg-4  d-flex">
		    				<div class="product d-flex flex-column">
                                <a href="/singleproduct/" class="img-prod"><img class="img-fluid" src={% static 'images/pumashoee.jpg' %} alt="puma shoe">
		    						<span class="status">50% Off</span>
                                    <div class="overlay"></div>
		    					</a>
		    					<div class="text py-3 pb-4 px-3">
		    						
		    						<h3><a href="/singleproduct/">Puma Vegas high top</a></h3>
		    						<div class="pricing">
                                        <p class="price"><span class="mr-2 price-dc">₹2000</span><span class="price-sale">₹1000</span></p>
			    					</div>
			    					<p class="bottom-area d-flex px-3">
		    							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-cart ml-1"></i></span></a>
    							        <a href="#" class="buy-now text-center py-2">Add to wish<span><i class="ion-ios-heart ml-1"></i></span></a>
		    						</p>
		    					</div>


		    				</div>
		    			</div>
		    			<div class="col-sm-12 col-md-12 col-lg-4  d-flex">
		    				<div class="product d-flex flex-column">
                                <a href="#" class="img-prod"><img class="img-fluid" src={% static 'images/product-1.jpg' %} alt="Colorlib Template">
                                    <span class="status">33% Off</span>		    					
		    						<div class="overlay"></div>
		    					</a>
		    					<div class="text py-3 pb-4 px-3">
		    						<h3><a href="#">Nike Free RN 2019 iD</a></h3>
		  							<div class="pricing">
                                        <p class="price"><span class="mr-2 price-dc">₹1500</span><span class="price-sale">₹1000</span></p>
			    					</div>
			    					<p class="bottom-area d-flex px-3">
                                        <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-cart ml-1"></i></span></a>
                                        <a href="#" class="buy-now text-center py-2">Add to wish<span><i class="ion-ios-heart ml-1"></i></span></a>
		    						</p>
		    					</div>
		    				</div>
		    			</div>
		    			<div class="col-sm-12 col-md-12 col-lg-4  d-flex">
		    				<div class="product">
                                <a href="#" class="img-prod"><img class="img-fluid" src={% static 'images/adidass1.jpg' %} alt="Colorlib Template">
                                    <span class="status">50% Off</span>			    					
                                    <div class="overlay"></div>
			    				</a>
		    					<div class="text py-3 pb-4 px-3">
		    						<h3><a href="#">Adidas Duvento M Running Shoes</a></h3>
		  							<div class="pricing">
                                        <p class="price"><span class="mr-2 price-dc">₹2000</span><span class="price-sale">₹1000</span></p>
			    					</div>
			    					<p class="bottom-area d-flex px-3">
                                        <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-cart ml-1"></i></span></a>
                                        <a href="#" class="buy-now text-center py-2">Add to wish<span><i class="ion-ios-heart ml-1"></i></span></a>
		    						</p>
		    					</div>
		    				</div>
		    			</div>
		    			<div class="col-sm-12 col-md-12 col-lg-4  d-flex">
		    				<div class="product">
                                <a href="#" class="img-prod"><img class="img-fluid" src={% static 'images/woodlandc1.jpg' %} alt="Colorlib Template">
                                    <span class="status">16% Off</span>		    						<div class="overlay"></div>
		    					</a>
		    					<div class="text py-3 pb-4 px-3">
		    						<h3><a href="#">Woodland Camel casual shoe</a></h3>
		  							<div class="pricing">
                                        <p class="price"><span class="mr-2 price-dc">₹3000</span><span class="price-sale">₹2500</span></p>
			    					</div>
			    					<p class="bottom-area d-flex px-3">
                                        <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-cart ml-1"></i></span></a>
                                        <a href="#" class="buy-now text-center py-2">Add to wish<span><i class="ion-ios-heart ml-1"></i></span></a>
		    						</p>
		    					</div>
		    				</div>
		    			</div>

		    			<div class="col-sm-12 col-md-12 col-lg-4  d-flex">
		    				<div class="product d-flex flex-column">
                                <a href="#" class="img-prod"><img class="img-fluid" src={% static 'images/fila11.jpg' %} alt="Colorlib Template">
                                    <span class="status">25% Off</span>		    						<div class="overlay"></div>
		    					</a>
		    					<div class="text py-3 pb-4 px-3">
		    						<h3><a href="#">Fila Grant hill 3 Woven</a></h3>
		    						<div class="pricing">
                                        <p class="price"><span class="mr-2 price-dc">₹4000</span><span class="price-sale">₹3000</span></p>
			    					</div>
			    					<p class="bottom-area d-flex px-3">
                                        <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-cart ml-1"></i></span></a>
                                        <a href="#" class="buy-now text-center py-2">Add to wish<span><i class="ion-ios-heart ml-1"></i></span></a>
		    						</p>
		    					</div>
		    				</div>
		    			</div>
		    			<div class="col-sm-12 col-md-12 col-lg-4  d-flex">
		    				<div class="product d-flex flex-column">
		    					<a href="#" class="img-prod"><img class="img-fluid" src={% static 'images/aditerex.jpg' %} alt="Colorlib Template">
                                    <span class="status">10% Off</span>
		    						<div class="overlay"></div>
		    					</a>
		    					<div class="text py-3 pb-4 px-3">
		    						
		    						<h3><a href="#">Adidas Terrex swift R3 Hiking Shoes</a></h3>
		  							<div class="pricing">
                                        <p class="price"><span class="mr-2 price-dc">₹3000</span><span class="price-sale">₹2700</span></p>
			    					</div>
			    					<p class="bottom-area d-flex px-3">
                                        <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-cart ml-1"></i></span></a>
                                        <a href="#" class="buy-now text-center py-2">Add to wish<span><i class="ion-ios-heart ml-1"></i></span></a>
		    						</p>
		    					</div>
		    				</div>
		    			</div>
		    			<div class="col-sm-12 col-md-12 col-lg-4  d-flex">
		    				<div class="product">
                                <a href="#" class="img-prod"><img class="img-fluid" src={% static 'images/conv1.jpg' %} alt="Colorlib Template">
                                    <span class="status">20% Off</span>			    					<div class="overlay"></div>
			    				</a>
		    					<div class="text py-3 pb-4 px-3">
		    						<h3><a href="#">Converse Run Star Motion Shoe</a></h3>
		  							<div class="pricing">
                                        <p class="price"><span class="mr-2 price-dc">₹7500</span><span class="price-sale">₹6000</span></p>
			    					</div>
			    					<p class="bottom-area d-flex px-3">
                                        <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-cart ml-1"></i></span></a>
                                        <a href="#" class="buy-now text-center py-2">Add to wish<span><i class="ion-ios-heart ml-1"></i></span></a>
		    						</p>
		    					</div>
		    				</div>
		    			</div>
		    			<div class="col-sm-12 col-md-12 col-lg-4  d-flex">
		    				<div class="product">
                                <a href="#" class="img-prod"><img class="img-fluid" src={% static 'images/nikeair1.jpg' %} alt="Colorlib Template">
                                    <span class="status">10% Off</span>
		    						<div class="overlay"></div>
		    					</a>
		    					<div class="text py-3 pb-4 px-3">
		    						
		    						<h3><a href="#">Nike Air Jordan 1 Mid</a></h3>
		  							<div class="pricing">
                                        <p class="price"><span class="mr-2 price-dc">₹11200</span><span class="price-sale">₹10000</span></p>
			    					</div>
			    					<p class="bottom-area d-flex px-3">
                                        <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-cart ml-1"></i></span></a>
                                        <a href="#" class="buy-now text-center py-2">Add to wish<span><i class="ion-ios-heart ml-1"></i></span></a>
		    						</p>
		    					</div>
		    				</div>
		    			</div>
						<div class="col-sm-12 col-md-12 col-lg-4  d-flex">
		    				<div class="product">
                                <a href="#" class="img-prod"><img class="img-fluid" src={% static 'images/nikeair1.jpg' %} alt="Colorlib Template">
                                    <span class="status">10% Off</span>
		    						<div class="overlay"></div>
		    					</a>
		    					<div class="text py-3 pb-4 px-3">
		    						
		    						<h3><a href="#">Nike Air Jordan 1 Mid</a></h3>
		  							<div class="pricing">
                                        <p class="price"><span class="mr-2 price-dc">₹11200</span><span class="price-sale">₹10000</span></p>
			    					</div>
			    					<p class="bottom-area d-flex px-3">
                                        <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-cart ml-1"></i></span></a>
                                        <a href="#" class="buy-now text-center py-2">Add to wish<span><i class="ion-ios-heart ml-1"></i></span></a>
		    						</p>
		    					</div>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="row mt-5">
		          <div class="col text-center">
		            <div class="block-27">
		              <ul>
		                <li><a href="#">&lt;</a></li>
		                <li class="active"><span>1</span></li>
		                <li><a href="#">2</a></li>
		                <li><a href="#">3</a></li>
		                <li><a href="#">4</a></li>
		                <li><a href="#">5</a></li>
		                <li><a href="#">&gt;</a></li>
		              </ul>
		            </div>
		          </div>
		        </div>
		    	</div>

		    	<div class="col-md-4 col-lg-2">
		    		<div class="sidebar">
							<div class="sidebar-box-2">
								<h2 class="heading">Filter</h2>
								<div class="fancy-collapse-panel">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                     <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingOne">
                             <h4 class="panel-title">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Category
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                             <div class="panel-body">
                                 <ul>
                                 	<li><a href="#">Men</a></li>
                                 	<li><a href="#">Female</a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                     <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingTwo">
                             <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Brand
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                             <div class="panel-body">
                                <ul>
                                 	<li><a href="#">Nike</a></li>
                                 	<li><a href="#">Adidas</a></li>
                                 	<li><a href="#">Fila</a></li>
                                 	<li><a href="#">Puma</a></li>
                                 	<li><a href="#">Converse</a></li>
                                 	<li><a href="#">Woodland</a></li>
                                </ul>
                             </div>
                         </div>
                     </div>
                     <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingThree">
                             <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Color
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                             <div class="panel-body">
                                <ul>
                                 	<li><a href="#">Red</a></li>
                                 	<li><a href="#">Black</a></li>
                                 	<li><a href="#">White</a></li>
                                 	<li><a href="#">Blue</a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                     <!-- <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingFour">
                             <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">Size
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                             <div class="panel-body">
                                <ul>
                                 	<li><a href="#">9</a></li>
                                 	<li><a href="#">8</a></li>
                                 q	<li><a href="#">7</a></li>
                                 	<li><a href="#">6</a></li>
                                 </ul>
                             </div>
                         </div>
                     </div> -->
                  </div>
               </div>
							</div>
							<div class="sidebar-box-2">
								<h2 class="heading">Price Range</h2>
								<form method="post" class="colorlib-form-2">
		              <div class="row">
		                <div class="col-md-12">
		                  <div class="form-group">
		                    <label for="guests">Price from:</label>
		                    <div class="form-field">
		                      <i class="icon icon-arrow-down3"></i>
		                      <select name="people" id="people" class="form-control">
		                        <option value="#">1</option>
		                        <option value="#">500</option>
		                        <option value="#">1000</option>
		                        <option value="#">2000</option>
		                        <option value="#">3000</option>
		                      </select>
		                    </div>
		                  </div>
		                </div>
		                <div class="col-md-12">
		                  <div class="form-group">
		                    <label for="guests">Price to:</label>
		                    <div class="form-field">
		                      <i class="icon icon-arrow-down3"></i>
		                      <select name="people" id="people" class="form-control">
		                        <option value="#">1000</option>

		                        <option value="#">2000</option>
		                        <option value="#">4000</option>
		                        <option value="#">6000</option>
		                        <option value="#">8000</option>
		                        <option value="#">10000</option>
		                      </select>
		                    </div>
		                  </div>
		                </div>
		              </div>
					  
		            </form>
							</div>
						</div>
    			</div>
    		</div>
    	</div>
    </section>
		
		<section class="ftco-gallery">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-8 heading-section text-center mb-4 ftco-animate">
            <h2 class="mb-4">Follow Us On Instagram</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
          </div>
    		</div>
    	</div>
    	<div class="container-fluid px-0">
    		<div class="row no-gutters">
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href={% static 'images/gallery-1.jpg' %} class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/gallery-1.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href={% static 'images/gallery-2.jpg' %} class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/gallery-2.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href={% static 'images/gallery-3.jpg' %} class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/gallery-3.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href={% static 'images/gallery-4.jpg' %} class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/gallery-4.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href={% static 'images/gallery-5.jpg' %} class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/gallery-5.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href={% static 'images/gallery-6.jpg' %} class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/gallery-6.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
        </div>
    	</div>
    </section>


  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


{% include "footer.html" %}
{% endblock maincontent %}