{% extends "base.html" %}
{% block navbar %}{% include 'navbar.html' %}{% endblock navbar %}]
{% block maincontent %}

<section class="login_part padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2 class="text-dark">New to our Shop?</h2>
                        <p class="text-dark">Step into a World of Soleful Style! Sign Up and  Explore our  Exclusive Shoe Collections and Limited Edition Releases.</p>
                        <a href="/register/" class="text-dark btn btn_3 ">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>Welcome Back ! <br>
                            Please Sign in now</h3>
                        <form class="row contact_form" action="/login/" method="post" novalidate="novalidate">
                        {% csrf_token %}
                            <div class="col-md-12 form-group p_star">
                                <input type="email" class="form-control" id="email" name="email" value=""
                                    placeholder="email">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="password" name="password" value=""
                                    placeholder="password">
                            </div>
                            <div class="col-md-12 form-group">
                                {% comment %} <div class="creat_account d-flex align-items-center">
                                    <input type="checkbox" id="f-option" name="selector">
                                    <label for="f-option">Remember me</label>
                                </div> {% endcomment %}
                                <button type="submit" value="submit" class="btn_3 border-dark lgn">
                                    Login
                                </button>
                                </form>
                                <a class="lost_pass"   href="/verifyreg/">forget password?</a>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>

 
    

{% include 'footer.html' %}
{% endblock maincontent %}