{% extends "base.html" %}
{% block navbar %}{% include 'navbar.html' %}{% endblock navbar %}]
{% block maincontent %}

<section class="login_part padding_top">
    <div class="container">
      <!-- login side left -->
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2 class="text-dark">Existing user ?</h2>
                        <p class="text-dark">Step into Elegance, Stride in Confidence! Log in to Discover the Latest in Footwear Fashion – Your Feet, Your Style Statement.</p>
                        <a href="/login/" class="text-dark btn btn_3 bg-warning">Login to Account</a>
                    </div>
                </div>
            </div>
            <!-- register  -->
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>Welcome ! <br>
                            Register with  the details</h3>  
                            <!-- showing error messages  -->
                            {% if messages %}
                            {% for message in messages %}
                            <h6 class=" text-danger"> {{ message }} </h6>
                          {% endfor %}
                          {% endif %}
                      <form class="row contact_form" action="/register/" method="post" onsubmit="return checkbox()"  id="regform">
                        {% csrf_token %}
                            <div class="col-md-12 form-group p_star">
                                <input   type="text" class="form-control" id="fname" name="fname" 
                                    placeholder="First name" required >
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="lname" name="lname"
                                    placeholder="Last name" required>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="email" class="form-control" id="email" name="email" 
                                    placeholder="email" required>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="password" name="password" 
                                    placeholder="password" required>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input  type="password" class="form-control" id="password1" name="password1" 
                                    placeholder="confrim password" required >
                            </div>
                            <div class="col-md-12 form-group">
                                <a class="text-info" data-toggle="collapse" href="#referralCodeCollapse" role="button" aria-expanded="false" aria-controls="referralCodeCollapse">
                                    <span>I have a referral code?</span>
                                </a>
                            </div>
                            <div class="collapse col-md-12 form-group" id="referralCodeCollapse">
                                <input type="text" class="form-control" id="referralCode" name="referralCode" 
                                        placeholder="referral code (optional) ">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                 <div class="creat_account d-flex align-items-center">
                                    <input type="checkbox" id="term" name="selector" >
                                    <label for="term">I agree to the  <a href="/terms/">terms and conditions</a> </label>
                                </div> 
                                <p id="checkboxMessage" class="text-danger"></p>
                                 <button type="submit" value="submit" class="btn_3 border-dark lgn">
                                    Register
                                 </button>
                            </div>
                        
                         </div>
                        
                       </form>
                      </div>
            </div>
        </div>
    </div>
</section>
<!-- check box validation -->
<script>
    const form = document.getElementById("regform")
    form.addEventListener("submit", function(event){
        const pass =  document.getElementById("password").value;
        const pass1 =  document.getElementById("password1").value;
        const ref =  document.getElementById("referralCode").value;
        console.log(pass,pass1,typeof ref)
        if (pass.length < 6 ){
            event.preventDefault();
            alert("Password length too short minimum 6 chararcters!")
        }
        else if(pass != pass1){
            event.preventDefault();
            alert("Passwords must be Same !")
        }
        else if(ref.length !=8  ){
            if (ref.length == 0 ){
                
            }
            else{
            event.preventDefault();
            alert("enter valid referral code (8-digits)!")
            }
        }
    });
</script>


<script>
  function checkbox(){
    const term1 = document.getElementById('term') ;
    const checkmsg = document.getElementById('checkboxMessage');
    if (term.checked){
        return true;
    }
    else{
      checkmsg.textContent = "⬆️ Agree the terms and conditions" ;
      return false

    }
  }
</script>


{% include 'footer.html' %}
{% endblock maincontent %}