{% extends "base.html" %}
{% block navbar %}{% include 'navbar.html' %}{% endblock navbar %}
{% block maincontent %}

<form method="post" >
{% csrf_token %}
<div class="d-flex justify-content-center align-items-center container kk">
    <div class="card py-5 px-3">
      <h5 class="m-0 text-center h4"><b>OTP Verification</b></h5> 
      <span class="mobile-text text-center h5">
        <b>6 </b> digit Verification code send into your email<br>
        <b class="bbb">Check mail !!</b>
      </span>
<!-- shwowing error message -->
        {% if messages %}
       {% for message in messages %}
              <h4 class="text-center text-danger"> {{ message }} </h4>
            {% endfor %}
        {% endif %}
      <div class="d-flex flex-row mt-5 p-5 mx-5 text-center">
        <input type="number" name="otp" class="form-control" autofocus="" max="999999" min="99999"  required/>
      </div>
      <div class=" text-center">
        <button class="px-5 py-3  validate1" type="submit">Verify</button>
      </div>
       <div class="text-center mt-5 bbb ">
        <span class="d-block mobile-text" id="countdown"></span>
        <a href="/resendotp/{{ userid }}" class="text-danger"><span class="d-block mobile-text" id="resend"></span></a>
       </div>
    </div>
</div>
</form>

<script>let timerOn = true;
  function timer(remaining) {
    var m = Math.floor(remaining / 60);
    var s = remaining % 60;
    m = m < 10 ? "0" + m : m;
    s = s < 10 ? "0" + s : s;
    document.getElementById("countdown").innerHTML = `Time left: ${m} : ${s}`;
    remaining -= 1;
    if (remaining >= 0 && timerOn) {
      setTimeout(function () {
        timer(remaining);
      }, 1000);
      document.getElementById("resend").innerHTML = `
      `;
      return;
    }
    if (!timerOn) {
      return;
    }
    document.getElementById("resend").innerHTML = `Don't receive the code? 
    <span class="font-weight-bold text-color cursor" onclick="timer(60)">Resend
    </span>`;
  }
  timer(60);
  </script>

{% include 'footer.html' %}
{% endblock maincontent %}