 {% extends "base.html" %} 
{% load static %}
  <body class="goto-here">
{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}
{% block maincontent %}

    <section class="ftco-section ftco-cart">
        <h1 class=" text-center scs">Cart</h1>
        {% if cart_item %}
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ">
    				<div class="cart-list" id="reload">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product</th>
						        <th>Size</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
                            
                            {% for cart_item in cart_item %}
						      <tr class="text-center">
                                
						        <td class="product-remove"><a href="/remove_cart/{{cart_item.id}}"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod"><a href="/singleproduct/{{cart_item.product.product_id.id}}"><div class="img" style="width: 200px;  background-image:url({{ cart_item.product.product_id.image1.url }}); " ></div></a></td>
						        
						        <td class="product-name">
						        	<h3>{{ cart_item.product.product_id.brand  }} </h3>
						        	<p>{{ cart_item.product.product_id.name }}</p>
						        </td>
						        
						        <td class="price">{{ cart_item.size }}</td>
						        <td class="price">{{ cart_item.product.product_id.selling_price }}</td>
						        
						        <td class="quantity">
                                    <input type="hidden" class="pro_id" value="{{cart_item.id}}">
                                   {% csrf_token %} 
						        	<div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <button class="change_quantity quantity-left-minus btn btn-outline-secondary" data-action="minus" data-product-id="{{ cart_item.id }}">–</button>
                                        </div>
                                        
                                        <input type="text" name="quantity" class="quantity1 form-control input-number" value="{{ cart_item.quantity }}" min="1" max="100" disabled>
                                        <div class="input-group-append">
                                            <button class="change_quantity quantity-right-plus btn btn-outline-secondary" data-action="plus" data-product-id="{{ cart_item.id }}">+</button>
                                        </div>
                                    </div>
					          </td>
						        <td class="total">{{cart_item.sub_total}}</td>
						      </tr>
                            
                            {% endfor %}
            
						    
                            </tbody>
						  </table>
                        </div>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-end mt-4">
                <div class="col col-lg-6 col-md-6 mt-5 cart-wrap ftco-animate">
                    <form method="post" action="" >
                        {% csrf_token %}
                        <hr>
                        <div class="form-row p-4 ">
                            
                            <div class="col-8 col-md-6" >
                         
                                <!-- <label for="coupon" class="sr-only">Apply Coupon:</label> -->
                                <input type="text" class="form-control" id="coupon" name="coupon_code" placeholder="Enter coupon code">
                            </div>
                            <div class="text-center">
                                <button type="submit" class=" btn-warning  p-2"> Apply</button>
                            </div>
                            <div class="">
                                <button type="button" class=" btn-danger p-1" id="removeCoupon">Remove</button>
                            </div>
                        </div>
                        <hr>
                    </form>
            
                    <div class="cart-total mb-3" id="2load">
                        <h3>Cart Totals</h3>
                        <p class="d-flex">
                            <span>Subtotal</span>
                            <span>₹{{total}}</span>
                        </p>
                        <p class="d-flex">
                            <span>Delivery</span>
                            <span>₹0.00</span>
                        </p>
                        <p class="d-flex">
                            <span>Discount</span>
                            <span>₹0.00</span>
                        </p>
                        <hr>
                        <p class="d-flex total-price">
                            <span>Total</span>
                            <span>₹{{total}}</span>
                        </p>
                    </div>
                    <p class="text-center"><a href="/checkout/" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
                </div>
                
            </div>
			</div>
		</section>
		{% else %}
        <div class="bg-light m-4 p-4">
            <div class="h4  text-center mb-4"> Cart is empty </div>
            <div class="text-center mb-4"> <a href="/shop/" class="btn btn-primary py-3 px-4">Continue Shopping</a>   </div>
        </div>
        {% endif %}

{% include 'footer.html' %}
    
  

  <!-- loader -->
  {% comment %} <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div> {% endcomment %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>


     
    $(document).ready(function() {
    $('#reload').on('click', '.change_quantity', function(e) {
        e.preventDefault();
        
        var products_id = $(this).data('product-id');

        var token = $('input[name=csrfmiddlewaretoken]').val();
         
        var action = $(this).data('action');
        $.ajax({
            method: "POST",
            url: '/change_quantity/',
            data:  {
                'products_id':products_id,

                'action': action,
                csrfmiddlewaretoken:token
            },
            
            success: function(response) {
              if(response.status) {
                console.log(response.status,response.item);
                   $('#reload').load('/cart/ #reload');
                   $('#2load').load('/cart/ #2load');
               }
            },
            error: (error) => {
              console.log(error);
            }
          });
    
    });

});
    
</script>


      {% endblock maincontent %}
  </body>
