{% extends 'base.html' %}
{% load static %}
{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block maincontent %}
  <body class="goto-here">
    <section class="ftco-section">
      <h1 class="text-center scs">Checkout</h1>
      <hr />
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-12 ftco-animate">
            <div class="text-dark">
                <div class="row">
                  <div class="col-md-6">
                    <h3>Cart Details</h3>
                    {% for item in cart_items %}
                      <div class="cart-item bg-light p-3 p-md-4">
                        <strong>{{ item.product.product_id.brand }} {{ item.product.product_id.name }}</strong> <br />
                        Size :<strong>{{ item.size }}</strong>
                        <p>
                          Price: ₹{{ item.product.product_id.selling_price }} & Quantity: {{ item.quantity }} <br />
                          total: ₹{{ item.sub_total }}
                        </p>
                        <hr />
                      </div>
                    {% endfor %}
                  </div>

                  <!-- Display saved addresses as radio buttons -->
				  <form method="post" action="/checkout/">
                  {% csrf_token %}
                  <h3 class="mx-4">Address</h3>
                  <div class="bg-light">
                    {% if address %}
                      {% for address in address %}
                        <div class="col-md-6 mb-3">
                          <div class="card bg-light">
                            <div class="card-body">
                              <input type="radio" name="address" value="{{ address.id }}" class="form-check-input main-address" required checked />
                              <label class="form-check-label">
                                <strong>{{ address.name }}</strong><br />
                                House: {{ address.house }}, {{ address.town }}, {{ address.district }} , {{ address.state }} <br />
                                Pincode: {{ address.pincode }} , Mobile: {{ address.number }}
                              </label>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    {% else %}
                      {% if messages %}
                        {% for message in messages %}
                          <h5 class="text-danger">{{ message }}</h5>
                        {% endfor %}
                      {% endif %}
                    {% endif %}
                    <div class="mb-3 text-center">
                      <a href="{% url 'add_address' %}?next={% url 'checkout' %}" class="btn btn-primary">Add New Address</a>
                    </div>
                  </div>
                </div>
                <!-- Cart Total Section -->

                <div class="row mt-5 pt-3 d-flex">
                  <div class="col-md-6 d-flex">
                    <div class="cart-detail cart-total bg-light p-3 p-md-4">
                      <!-- coupon section Start -->

                      <div class="form-row p-4">
                        <div class="col-8 col-md-6">
                          <label for="coupon" class="sr-only">Apply Coupon:</label>
                          <input type="text" value="{{ checkout.coupon.code }}" class="form-control" id="coupon" name="coupon_code" placeholder="Enter coupon code" />
                        </div>
                        <div class="">
                          <button type="button" class="btn-warning p-2 px-3 apply">Apply</button>
                        </div>
                        <div class="">
                          <button type="button" class="btn-danger p-2 remove" id="removeCoupon">Remove</button>
                        </div>
                        <div id="cmessage" class="text-danger"></div>
                        <div id="smessage" class="text-success"></div>
                      </div>

                      <!-- End coupon sectiono -->
                      <div id="reload">
                        <h3 class="billing-heading mb-4">Cart Total</h3>
                        <p class="d-flex">
                          <span>Subtotal</span>
                          <span>₹{{ checkout.sub_total }}</span>
                        </p>
                        <p class="d-flex">
                          <span>Delivery</span>
                          <span>₹0.00</span>
                        </p>
                        <p class="d-flex">
                          <span>Discount</span>
                          <span>₹{{ checkout.discount_amount }}</span>
                        </p>
                        <hr />

                        <p class="d-flex total-price">
                          <span>Total</span>
                          <span>₹{{ total }}</span>
                        </p>

                        <input type="hidden" value="{{ total }}" name="total_prize" />
                      </div>
                    </div>
                  </div>
                  <!-- Payment Method Section -->
                  <div class="col-md-6">
                    <div class="cart-detail bg-light p-3 p-md-4">
                      <h3 class="billing-heading mb-4">Payment Method</h3>
                      <!-- Display payment options -->
                      <div class="form-group">
                        <div class="text-center">
                          <span style="font-size: 20px; color: black">Wallet balance: {{ wallet.amount }}</span>
                        </div>

                        <p class="text-center walletpays" id="changed">
                          <button type="button"
                            class="btn btn-info walletpay"
                            id="walletpay"
                            style="padding:15px{% if wallet.amount < total %}
							140px; cursor:default; {% else %} 200px
                            {% endif %};"
							{% if wallet.amount < total %} disabled  {% endif %}> 
							Pay with Wallet
							 {% if wallet.amount < total %}
							 	(Insuffisient balance) 
							 {% endif %} 
                          </button>
                        </p>

                        <p>
                          <button type="submit" class="btn btn-success" style="padding:15px 161px ;">Place Order (Cash on delivery)</button>
                        </p>
                        <p>
                          <button type="button" class="btn btn-secondary razor" id="rzp-button1" style="padding:15px 194px ;">Pay with Razorpay</button>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'footer.html' %}

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
      </svg>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'js/checkout.js' %}"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
      $(document).ready(function () {
        $(document).on('click', '.walletpay', function (e) {
          e.preventDefault()
      
          var sel_address = $('input[name="address"]:checked').val()
          var token = $('input[name=csrfmiddlewaretoken]').val()
          $.ajax({
            method: 'POST',
            url: '/wallet_pay/',
            data: {
              address: sel_address,
              csrfmiddlewaretoken: token
            },
      
            success: function (data) {
              if (data.completed) {
                window.location.href = data.redirect_url + data.order_id1
              } else {
                window.location.href = data.redirect_url
              }
            }
          })
        })
      })
    </script>

    <!-- apply coupon script -->
    <script>
      $(document).ready(function () {
        $('.apply').click(function (e) {
          e.preventDefault()
      
          var code = $('input[name="coupon_code"]').val()
          var token = $('input[name=csrfmiddlewaretoken]').val()
          $.ajax({
            method: 'POST',
            url: '/apply_coupon/',
            data: {
              code: code,
              csrfmiddlewaretoken: token
            },
      
            success: function (data) {
              if (data.error) {
                document.getElementById('cmessage').innerText = data.error
                document.getElementById('smessage').innerText = ''
                $('#reload').load('/checkout/ #reload')
                $('#changed').load('/checkout/ #changed')
              } else if (data.success) {
                document.getElementById('cmessage').innerText = ''
                document.getElementById('smessage').innerText = data.success
                $('#reload').load('/checkout/ #reload')
                $('#changed').load('/checkout/ #changed')
              } else {
                document.getElementById('cmessage').innerText = data.error
                $('#reload').load('/checkout/ #reload')
                $('#changed').load('/checkout/ #changed')
              }
            }
          })
        })
      })
    </script>
  </body>
{% endblock %}
