{% extends "base.html" %} 
{% load static %}
  <body class="goto-here">
{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}
{% block maincontent %}

    <section class="ftco-section ftco-cart">
        <h1 class=" text-center scs">Wishlist</h1>
        {% if wishlist_items %}
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product</th>
						        <th>Price</th>
						        <th>Size</th>
						        <th>Stock</th>
						        <th></th>
						      </tr>
						    </thead>
						    <tbody>
                            
                            {% for wishlist_item in wishlist_items %}
						      <tr class="text-center">
                                
						        <td class="product-remove"><a href="/remove_wish/{{wishlist_item.product_id.id}}?next={{request.path}}"  title="remove"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod"><a href="/singleproduct/{{wishlist_item.product_id.id}}"><div class="img" style="width: 200px;  background-image:url({{ wishlist_item.product_id.image1.url }}); " ></div></a> </td>
						        
						        <td class="product-name">
						        	<h3>{{ wishlist_item.product_id.brand  }} </h3>
						        	<p>{{ wishlist_item.product_id.name }}</p>
						        </td>
						        
						        <td class="price">₹{{ wishlist_item.product_id.selling_price }}</td>
						        <td class="price">₹{{ wishlist_item.size}}</td>
						        <!-- {% if wishlist_item.stock == 'In Stock' %} -->
						        <!-- <td class="total"><span class="bg-success p-1 text-white">  {{wishlist_item.product.stock}}</span></td> -->
                                <!-- <td class="total"><a href="/addto_cart/{{wishlist_item.product_id.id}}?next={{ request.path }}" class="btn btn-primary "> Add to Cart </a></td> -->
                                <td class="total"><a href="/singleproduct/{{wishlist_item.product_id.id}}/" class="btn btn-primary "> View details </a></td>
                                <!-- {% else %}
                                <td class="total"><span class="bg-danger p-1 text-white"> {{wishlist_item.stock}}</span></td>
                                {% endif %} -->
						        
                        
						      </tr>
                            {% endfor %}
            
						    
                            </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    	
			</div>
		</section>
		{% else %}
        <div class="bg-light m-4 p-4">
            <div class="h4  text-center mb-4"> Wishlist is empty </div>
            <div class="text-center mb-4"> <a href="/shop/" class="btn btn-primary py-3 px-4">Continue Shopping</a>   </div>
        </div>
        {% endif %}

{% include 'footer.html' %}
    
  

  <!-- loader -->
  {% comment %} <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div> {% endcomment %}

      {% endblock maincontent %}
  </body>
