{% include "admin/adminbase.html" %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/styletable.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
{% block content1 %}
<div class="container tbd1">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>Order <b>Management</b></h2>
                </div>
            </div>
        </div>
        <div class="row input-group mb-4 mt-4">
            <form action="/admorders/">
            <input type="search" name="search" class="form-control rounded offset-1 col-lg-8 col-sm-4 " placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="submit" class="btn btn-outline-primary btn-primary col-lg-2 col-sm-3 " data-mdb-ripple-init>search</button>
            </form>
          </div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="text-center">
                            <h3 class=" text-danger"> {{ message }} </h3>
                        </div>
                        
                    {% endfor %}
                {% endif %}
        <table class="table table-striped table-hover ms-3">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Product Name</th>
                    <th>Image</th>
                    <th>User</th>
                    <th>Address</th>
                    <th>Price x Quantity</th>
                    <th>Size</th>
                    <th>Payment</th>
                    <th>Ordered date</th>
                    <th>Delivery date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order_items  %}
                <tr>
                    <td> {{item.id}} </td>
                    <td style=" word-wrap: break-word; max-width:100px"> {{item.product.product_id.brand}} <br> {{item.product.product_id.name}} </td>
                    <td><img src=" {{ item.product.product_id.image1.url }} " alt="nike" style="width: 70px; height: 80px; "></td>
                    <td> {{item.user1}} </td>
                    <td style=" word-wrap: break-word; max-width:130px"> {{item.address1.state}},{{item.address1.district}} <br>
                        {{item.address1.house}},{{item.address1.town}}, {{item.address1.pincode}} <br> {{item.address1.number}}
                    </td>
                    <td> {{item.product.product_id.selling_price}} x {{item.quantity}}  </td>
                    <td> {{item.size}}  </td>
                    <td> {{item.order_id.payment_mode}} </td>
                    
                    <td >
                            {{item.order_id.order_date}} 
                        <!-- <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        <a href="#listEmployeeModal" class="delete" data-toggle="modal"><i class="fa-solid fa-eye  fa-lg" style="color: #ffd500;"></i></a>
                        <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a> -->
                    </td>
                    <td> {{item.delivery_date}} 
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#editdate{{item.id}}" class="edit " data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a></td>
                    </td>
                    <td> {{item.status}} <a href="#editstatus{{item.id}}" class="edit" data-toggle="modal"><i class="material-icons " data-toggle="tooltip" title="Edit">&#xE254;</i></a></td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
       <div class="clearfix">
            {% comment %} <div class="hint-text"><b>{{order_items}} </b> </div> {% endcomment %}
            {% if order_items.has_other_pages %}
            <ul class="pagination">
                {% if order_items.has_previous %}
                    <li class="page-item"><a href="?page={{order_items.previous_page_number}}{% if search %}&search={{search}}{% endif %}" class="page-link">&lt;</a></li>
                {% else %}
                    <li class="page-item disabled"><a href="#">&lt;</a></li>
                {% endif %}
                {% for i in order_items.paginator.page_range %}
                    {% if order_items.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only"> (current) </span></span></li>
                    {% else %}
                        <li class="page-item"><a href="?page={{ i }}{% if search %}&search={{search}}{% endif %}" class="page-link">{{ i }} </a></li>
                    {% endif %}
                {% endfor %}
                {% if order_items.has_next %}
                    <li class="page-item"><a href="?page={{order_items.next_page_number}}{% if search %}&search={{search}}{% endif %}" class="page-link">&gt;</a></li>
                {% else %}
                    <li class="page-item disabled"><a href="#" class="page-link">&gt;</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </div> 
    </div>
</div>
<!-- edit status Modal HTML -->
{% for item in order_items %}
<div id="editstatus{{item.id}}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/update_status/{{item.id}}">
                {% csrf_token %}
                <div class="modal-header">						
                    <h4 class="modal-title">Update Status</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Order ID</label>
                        <input type="text" class="form-control"  value="{{item.id}}"  disabled>
                    </div>
                    <div class="form-group">
                        <label>Product</label>
                        <input type="email" class="form-control" value="{{item.product.product_id}}" disabled>
                    </div>
                    <div class="form-group">
                        <label>Customer</label>
                        <input type="text" class="form-control" value="{{item.user1}}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="category">Status</label>       
                        <select class="form-control" id="status" name="status" required>
                            <option value="ordered" {% if item.status == 'ordered' %} selected {% endif %}> Ordered</option>
                            <option value="shipped" {% if item.status == 'shipped' %} selected {% endif %} > Shipped</option>
                            <option value="out for delivery" {% if item.status == 'out for delivery' %} selected {% endif %}> Out for delivery</option>
                            <option value="delivered" {% if item.status == 'delivered' %} selected {% endif %}> Delivered</option>
                            <option value="cancelled" {% if item.status == 'cancelled' %} selected {% endif %}>Cancelled </option>
                        </select>
                        
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}

<!-- update delivery date  -->
{% for item in order_items %}
<div id="editdate{{item.id}}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/update_date/{{item.id}}">
                {% csrf_token %}
                <div class="modal-header">						
                    <h4 class="modal-title">Update Status</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Order ID</label>
                        <input type="text" class="form-control"  value="{{item.id}}"  disabled>
                    </div>
                    <div class="form-group">
                        <label>Product</label>
                        <input type="text" class="form-control" value="{{item.product.product_id}}" disabled>
                    </div>
                    <div class="form-group">
                        <label>Ordered Date</label>
                        <input type="text" class="form-control" value="{{item.order_id.order_date}}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="category">Delivery Date : {{ item.delivery_date }}</label>       
                        <input type="date" class="form-control" value="{{ item.delivery_date|date:'Y-m-d' }}" name="date" required>
                        
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://kit.fontawesome.com/412a20d28b.js" crossorigin="anonymous"></script>
{% endblock content1 %}