{% include "admin/adminbase.html" %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/styletable.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
{% block content1 %}
<div class="container tbd1">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><b>Returns Management</b></h2>
                </div>
                <div class="col-sm-6">
                    <!-- <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Product</span></a> -->
                    <!-- <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>						 -->
                </div>
            </div>
        </div>
        <div class="row input-group ">
            <input type="search" class="form-control rounded offset-1 col-lg-8 col-sm-4 " placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary btn-primary col-lg-2 col-sm-3 " data-mdb-ripple-init>search</button>
          </div>
        <table class="table table-striped table-hover ms-3">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>image</th>
                    <th>User</th>
                    <th>Price</th>
                    <th>Reason</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Nike air jordan </td>
                    <td><img src="{% static 'images/nikeair1l.jpg' %}" alt="nike" style="width: 60px; height: 60px; "></td>
                    <td>musthu</td>
                    <td>7000</td>
                    <td>succes</td>  
                    <td >
                        <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="fa-solid fa-check fa-beat fa-lg" style="color: #00ff91;"></i></a>
                        <a href="#listEmployeeModal" class="delete" data-toggle="modal"><i class="fa-solid fa-xmark fa-lg" style="color: #ff0000;"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Nike air jordan </td>
                    <td><img src="{% static 'images/nikeair1l.jpg' %}" alt="nike" style="width: 60px; height: 60px; "></td>
                    <td>musthu</td>
                    <td>7000</td>
                    <td>succes</td>  
                    <td >
                        <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="fa-solid fa-check fa-beat fa-lg" style="color: #00ff91;"></i></a>
                        <a href="#listEmployeeModal" class="delete" data-toggle="modal"><i class="fa-solid fa-xmark fa-lg" style="color: #ff0000;"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Nike air jordan </td>
                    <td><img src="{% static 'images/nikeair1l.jpg' %}" alt="nike" style="width: 60px; height: 60px; "></td>
                    <td>musthu</td>
                    <td>7000</td>
                    <td>succes</td>  
                    <td >
                        <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="fa-solid fa-check fa-beat fa-lg" style="color: #00ff91;"></i></a>
                        <a href="#listEmployeeModal" class="delete" data-toggle="modal"><i class="fa-solid fa-xmark fa-lg" style="color: #ff0000;"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Nike air jordan </td>
                    <td><img src="{% static 'images/nikeair1l.jpg' %}" alt="nike" style="width: 60px; height: 60px; "></td>
                    <td>musthu</td>
                    <td>7000</td>
                    <td>succes</td>  
                    <td >
                        <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="fa-solid fa-check fa-beat fa-lg" style="color: #00ff91;"></i></a>
                        <a href="#listEmployeeModal" class="delete" data-toggle="modal"><i class="fa-solid fa-xmark fa-lg" style="color: #ff0000;"></i></a>
                    </td>
                </tr>		
                <tr>
                    <td>1</td>
                    <td>Nike air jordan </td>
                    <td><img src="{% static 'images/nikeair1l.jpg' %}" alt="nike" style="width: 60px; height: 60px; "></td>
                    <td>musthu</td>
                    <td>7000</td>
                    <td>succes</td>  
                    <td >
                        <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="fa-solid fa-check fa-beat fa-lg" style="color: #00ff91;"></i></a>
                        <a href="#listEmployeeModal" class="delete" data-toggle="modal"><i class="fa-solid fa-xmark fa-lg" style="color: #ff0000;"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
            <ul class="pagination">
                <li class="page-item disabled"><a href="#">Previous</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item active"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://kit.fontawesome.com/412a20d28b.js" crossorigin="anonymous"></script>
{% endblock content1 %}